.swagger-ui {
  .info {
    margin-top: 0;
  }
  .information-container.wrapper {
    padding: 0;
     > .col-12 {
       padding: 0;
     }
  }
}

.view-apis {
  .view-content {
    .views-row {
      margin: 10px;
      border-bottom: 1px solid $gray-300;
      width: 100%;
      &:last-child {
        border-bottom: none;
      }
    }
  }
}
