/**
 * @file
 * Styles for Bootstrap Barrio's tables.
 */

.sticky-header thead th {
    vertical-align: bottom;
    border-bottom: (2 * $table-border-width) solid $table-border-color;
}

.sticky-header th {
    padding: $table-cell-padding;
    vertical-align: top;
    border-top: $table-border-width solid $table-border-color;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: transparent;
}

.table {
  thead {
    th, td {
      border-bottom: 0;
      background-color: $blue-lighter;
    }
  }
  tbody {
    tr {
      &.even {
        background-color: $gray-100;
      }
    }
  }
  th, td {
    padding: 5px 10px;
    vertical-align: inherit;
  }

}
