/**
 * @file
 * Styling for Views in Bartik.
 */


/* Tab styles */

.views-displays .tabs .open>a {
    border-radius: $border-radius-lg $border-radius-lg 0 0;
}

.views-displays .tabs .open>a:hover,
.views-displays .tabs .open>a:focus {
    color: $link-color;
}

.views-displays .secondary .form-submit {
    font-size: $font-size-sm;
}


/* Tabs action list styles */

.views-displays .tabs .action-list {
    padding: 0;
}


/* Contextual filter options styles */

.views-filterable-options .filterable-option:nth-of-type(even) .form-type-checkbox {
    background-color: #F9F9F9;
}


/* Views action dropbutton styles */

.views-ui-display-tab-actions .dropbutton .form-submit {
    color: $link-hover-color;
}

.views-ui-display-tab-actions .dropbutton .form-submit:hover,
.views-ui-display-tab-actions .dropbutton .form-submit:focus {
    color: $link-color;
}

.view-blogs {
  &.view-display-id-page_1 {
    .views-row {
      margin-bottom: 15px;
    }
    .article {
      &-item {
        box-shadow: 0px 0px 5px 0px $gray-300;
        border-radius: 5px;
        border: 1px solid $gray-300;
        padding: 15px;
        &-image {
          text-align: center;
          margin-bottom: 10px;
          overflow: hidden;
          img {
            border-radius: 5px;
            width: 100%;
            max-height: 220px;
          }
        }
        &-tags {
          margin-bottom: 10px;
          a {
            color: $primary-white;
            background-color: $yellow;
            padding: 5px 10px;
            border-radius: 5px;
            font-size: 12px;
          }
          .created-on {
            font-size: 12px;
            &:before {
              content: "\f017";
              font-size: 16px;
              color: $blue-light;
              margin-right: 5px;
              font-family: "Font Awesome 5 Free";
            }
          }
        }
        &-body {
          height: 80px;
          margin-bottom: 10px;
        }
        &-title {
          font-size: 16px;
          font-weight: bold;
        }
      }
    }
    nav {
      display: flex;
      justify-content: center;
    }
  }
}
