<div class="preview color-preview">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" href="#"><img src="/profiles/apigeedev_portal/themes/iris/logo.svg" height="60"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
              aria-controls="navbarResponsive"
              aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">API Catalog</a>
          </li>
          <li class="nav-item sign">
            <a class="nav-link" href="#">SIGN IN</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="banner container-fluid color-preview-header">
    <div class="container">
      <div class="col-sm-6 banner-content">
        <p>DEVELOPER PORTAL</p>
        <h3>FROM API TO Z</h3>
        <p>Unique Data, Real-Time Analytics and Innovative Tech - So you can Get Down to Business</p>
        <a class="white btn">Documentation</a>
        <a class="btn outline">GET STARTED</a>
      </div>
    </div>

  </div>
  <!-- Page Content -->
  <div class="container my-3">

    <div class="row">

      <!-- Blog Entries Column -->
      <div class="col-md-4 widget-box color-preview-block">
        <div class="box-content">
          <img src="/themes/iris/images/widgets/payment.jpg"/>
          <div class="contents">
            <h5>Payment and Transaction APIs</h5>
            <p>Deliver a different friction-less consumer experience and let your competitiors be a case study in
              abandonment.</p>
            <a class="readmore" href="#">READ MORE</a>
          </div>
        </div>
      </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-3 color-preview-footer-wrapper">
    <div class="container">
      <div class="row footer-row">
        <div class="col-md-4 col">
          <h4>About Us</h4>
          <p>SID is a global information solutions<br>company that uses unique data, innovative<br>analytics, technology
            and industry expertise<br> to power organizations and individuals.</p>
        </div>
        <div class="col-md-2 col">
          <h4>Developers</h4>
          <ul>
            <li><a href="#">Documentations</a></li>
            <li><a href="#">API Reference</a></li>
            <li><a href="#">Featured APIs</a></li>
            <li><a href="#">Products</a></li>
            <li><a href="#">Support</a></li>
          </ul>
        </div>
      </div>
      <p class="m-0 text-center text-white">SID Global Solutions &copy; 2019. All Rights Reserved</p>
    </div>
    <!-- /.container -->
  </footer>
</div>
