/* ---------- Preview Styles ----------- */
.js .color-preview {
  clear: both;
  float: none !important;
  font-family: "Open sans", sans-serif;
}
.color-preview {
  background-color: #fff;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 14px;
  line-height: 1.5;
  overflow: hidden;
  word-wrap: break-word;
  margin-bottom: 10px;
}
.color-preview-header {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  position: relative;
}
.color-preview-logo {
  float: left;
  padding: 15px;
}
.color-preview-site-name {
  color: #686868;
  font-weight: normal;
  font-size: 1.821em;
  line-height: 1;
  margin-bottom: 30px;
  margin-left: 15px; /* LTR */
  padding-top: 34px;
}
[dir="rtl"] .color-preview-site-name {
  margin-left: 0;
  margin-right: 15px;
}
.color-preview-main-menu {
  clear: both;
  padding: 0 15px 3px;
}
.color-preview-main-menu-links a {
  color: #d9d9d9;
  padding: 0.6em 1em 0.4em;
}
.color-preview-main-menu-links {
  font-size: 0.929em;
  margin: 0;
  padding: 0;
}
.color-preview-main-menu-links a {
  color: #333;
  background: #ccc;
  background: rgba(255, 255, 255, 0.7);
  text-shadow: 0 1px #eee;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.color-preview-main-menu-links a:hover,
.color-preview-main-menu-links a:focus {
  background: #eee;
  background: rgba(255, 255, 255, 0.95);
  text-decoration: none;
  cursor: pointer;
}
.color-preview-main-menu-links li a.is-active {
  background: #fff;
  border-bottom: none;
}
.color-preview-main-menu-links li {
  display: inline;
  list-style-type: none;
  padding: 0.6em 0 0.4em;
}
.color-preview-sidebar,
.color-preview-content {
  display: inline;
  float: left; /* LTR */
  position: relative;
}
[dir="rtl"] .color-preview-sidebar,
[dir="rtl"] .color-preview-content {
  float: right;
}
.color-preview-sidebar {
  margin-left: 15px; /* LTR */
  width: 210px;
}
[dir="rtl"] .color-preview-sidebar {
  margin-left: 0;
  margin-right: 15px;
}
.color-preview-content {
  margin-left: 30px; /* LTR */
  width: 26.5em;
}
[dir="rtl"] .color-preview-content {
  margin-left: 0;
  margin-right: 30px;
}
.color-preview-sidebar .preview-block {
  border: 1px solid;
  margin: 20px 0;
  padding: 15px 20px;
}
.color-preview-sidebar h2 {
  border-bottom: 1px solid #d6d6d6;
  font-weight: normal;
  margin-top: 0;
  margin-right: 0;
  margin-left: 0;
  padding-bottom: 5px;
  text-shadow: 0 1px 0 #fff;
}
.color-preview .preview-block .preview-content {
  margin-top: 1em;
}
.color-preview .preview-block-menu .preview-content,
.color-preview .preview-block-menu .preview-content ul {
  margin-top: 0;
}
.color-preview-main {
  margin-bottom: 40px;
  margin-top: 20px;
}
.color-preview-page-title {
  font-size: 2em;
  font-weight: normal;
  line-height: 1;
  margin: 1em 0 0.5em;
}
.color-preview-footer-wrapper {
  color: #c0c0c0;
  color: rgba(255, 255, 255, 0.65);
  display: block !important;
  font-size: 0.857em;
  padding: 20px 20px 25px;
}
.color-preview-footer-wrapper a {
  color: #fcfcfc;
  color: rgba(255, 255, 255, 0.8);
}
.color-preview-footer-wrapper a:hover,
.color-preview-footer-wrapper a:focus {
  color: #fefefe;
  color: rgba(255, 255, 255, 0.95);
  text-decoration: underline;
}
.color-preview-footer-wrapper .preview-footer-column {
  display: inline;
  float: left; /* LTR */
  padding: 0 10px;
  position: relative;
  width: 220px;
}
[dir="rtl"] .color-preview-footer-wrapper .preview-footer-column {
  float: right;
}
.color-preview-footer-wrapper .preview-block {
  border: 1px solid #444;
  border-color: rgba(255, 255, 255, 0.1);
  margin: 20px 0;
  padding: 10px;
}
.color-preview-footer-columns .preview-block-menu {
  border: none;
  margin: 0;
  padding: 0;
}
.color-preview-footer-columns h2 {
  border-bottom: 1px solid #555;
  border-color: rgba(255, 255, 255, 0.15);
  padding-bottom: 3px;
  text-transform: uppercase;
}
.color-preview-footer-columns .preview-content {
  margin-top: 0;
}
.color-preview-footer-columns .preview-content ul {
  margin-left: 0; /* LTR */
  padding-left: 0; /* LTR */
}
[dir="rtl"] .color-preview-footer-columns .preview-content ul {
  margin-right: 0;
  padding-right: 0;
}
.color-preview-footer-columns .preview-content li {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}
.color-preview-footer-columns .preview-content li a {
  border-bottom: 1px solid #555;
  border-color: rgba(255, 255, 255, 0.15);
  display: block;
  line-height: 1.2;
  padding: 0.8em 2px 0.8em 20px; /* LTR */
  text-indent: -15px;
}
[dir="rtl"] .color-preview-footer-columns .preview-content li a {
  padding-left: 2px;
  padding-right: 20px;
}
.color-preview-footer-columns .preview-content li a:hover,
.color-preview-footer-columns .preview-content li a:focus {
  background-color: #1f1f21;
  background-color: rgba(255, 255, 255, 0.05);
  text-decoration: none;
}


/*Custom CSS for the Preview*/
.fixed-top, .navbar.bg-dark{
  background: #fff !important;
}
footer.bg-dark {
  background: #000 !important;
  padding: 35px 0px 10px !important;
}
.navbar-dark .navbar-nav .nav-item {
  padding: 10px 8px;
}
.navbar-dark .navbar-nav .nav-link {
  color: #222222 !important;
  font-weight: 600;
  padding: 8px 0px 0px;
  font-size: 14px;
}

.navbar-dark .navbar-nav .nav-item.sign a{
  font-weight: normal;
  padding: 8px 20px;
  border: 1px solid #222;
  border-radius: 5px;
}
.banner {
  background: linear-gradient(to bottom, rgba(8,75,206,0.9) 0%,#084bce 100%), url(../images/banner_image.jpg) no-repeat;
  min-height: 300px;
  position: relative;
  height: 300px;
}

.banner > .container {
  position: relative;
  z-index: 11;
  color: #fff;
  display: flex;
  height: 100%;
  align-items: center;
  background: url(../images/banner_img.png) no-repeat right bottom;
  background-size: 60%;
}

.banner .white.btn {
  background: #fff; margin-right: 15px;
  color: rgba(8,75,206,1);
}

.banner .outline.btn {
  background: transparent;
  color: #fff;
  border: 1px solid #fff;

}

.banner .btn {
  font-size: 14px;
  padding: 10px 8px;
  display: inline-block;
  border-radius: .25rem;
  text-transform: uppercase;
}
.box-content {
  box-shadow: 0px 0px 1px rgba(0,0,0,0.5);
  background: #fff;
  margin: 15px 0px;
  border-radius: 3px;
  border: 1px solid #eee;
  border-bottom: 4px solid #dad3d3;
}
.box-content img{
  max-width: 100%;
  margin: 10px 0px;
}
.box-content .contents {
  color: #222222;
  padding: 20px 15px;
  border-top: 1px solid #eee;
}
.box-content .contents p {
  color: #848282;
  font-size: 15px;
}
.box-content .contents .readmore {
  color: #4085f5;
  font-size: 14px;
}
footer {
  color: #8e8b8b;
  font-size: 14px;
}
footer.bg-dark h4 {
  position: relative;
  margin-bottom: 30px;
  color: #cacaca;
}
footer.bg-dark h4:after {
  content:"";
  width: 30px;
  height: 2px;
  background: #fff;
  position: absolute;
  bottom: -10px;
  left: 0px;
}
footer ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
footer ul li a {
  color: #8e8b8b !important;
  padding: 4px 0px;
  display: block;
  text-decoration: none !important;
}
footer.bg-dark .text-white {
  padding-top: 10px;
  margin-top: 40px !important;
  border-top: 1px solid #424141;
  color: #6f6e6e !important;
  font-size: 12px;
  text-align: center;
}
ul.socials li {
  float: left;
  margin-right: 10px;
}
ul.socials li a {
  font-size: 22px;
}
footer form {
  position: relative;
}
footer form input {
  background: #fff;
  padding: 15px;
  border-radius: 30px;
  border: none;
  width: 99%;
}
footer form .btn {
  border-radius: 100%;
  position: absolute;
  background: #0028da; /* Old browsers */
  background: -moz-linear-gradient(left, #0028da 0%, #056fe7 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #0028da 0%,#056fe7 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #0028da 0%,#056fe7 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0028da', endColorstr='#056fe7',GradientType=1 ); /* IE6-9 */
  color: #fff;
  right: 0px;
  font-size: 15px;
  width: 64px;
  height: 64px;
  text-align: center;
  top: -7px;
}

.navbar-nav {
  display: flex;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.navbar .container {
  display: flex;
}

.navbar-collapse {
  display: flex;
  align-items: center;
  margin: 0 0 0 auto;
}

.banner-content {
  width: 50%;
  padding-left: 40px;
}

.widget-box {
  width: 35%;
  margin: 0 auto;
}

.footer-row {
  display: flex;
}

.footer-row .col {
  width: 50%;
  padding: 0 20px;
}
