/*
Theme Name: Apigee Iris
Description: Apigee Iris in B4
*/
// import files
@import "import";

/* GENERAL STYLES
-------------------------------------------------*/

body {
  background: $white;
  font-family: $font-family-open-sans;
  font-size: $standard-size;
}

/* COLORS
--------------------------------------------------*/

a {
  color: $accent-shade;
  &:hover {
    text-decoration: none;
  }
}

.field {
  width: inherit;
}

.bg-inverse {
  background: $primary-shade !important;
}

.site-footer {
  background: $gray-900 !important;
}

.menu--main li a {
  color: $primary-shade;
}

.menu--account li a {
  color: $primary-shade;
}

.site-name-slogan a {
  text-decoration: none;
}

.no-side-margin {
  .main-content.col {
    padding-right: 0;
    padding-left: 0;
  }
}

.card-group img {
  margin: 0;
  width: 100%;
  height: auto;
}

.card-group .field--type-image {
  margin: 0
}

.slick {
  width: 100%;
}

.slick > div {
  margin: 0 15px;
}

.dashboard {
  background: #f3f4f8;
  .layout-main-wrapper {
    .main-content {
      .section {
        display: flex;
        flex-wrap: wrap;
        .block {
          max-width: calc(50% - 10px);
          width: 100%;
          display: inline-block;
          background: #fff;
          margin-bottom: 20px;
          padding: 15px;
          box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
          div,
          svg {
            max-width: 100% !important;
          }
          &:nth-child(odd) {
            margin-left: 20px;
          }
          &.dashboard-date-filter-form {
            .content {
              form {
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                .form-group {
                  padding: 0px;
                  margin: 0px 5px;
                }
                .form-submit {
                  margin-top: 25px;
                  margin-left: 5px;
                }
              }
            }
          }
          @media (max-width: 767px) {
            max-width: 100%;
            &:nth-child(even) {
              margin-left: 0px;
            }
          }
        }
      }
    }
  }
}
